@import 'colors';

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-align: center;

  @media (min-width: 750px) {
    font-size: 2rem;
  }
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: $black;
  padding: 1rem;
  margin-bottom: 2rem;
}

.nav-item {
  cursor: pointer;
  color: $white;
  text-decoration: none;
}

.selected {
  text-decoration: underline;
}

.red {
  color: $red;
}

.button-primary {
  font-weight: bold;
  border: 0;
  background-color: $primary;
  padding: 1rem;
  box-shadow: 3px 3px 3px $shadow;
  -moz-box-shadow: 3px 3px 3px $shadow;
	-webkit-box-shadow: 3px 3px 3px $shadow;
  &:focus {
    outline:0;
  }
  &:active {
    box-shadow: none;
  }
}

.sync-loader {
  background-color: $lightgrey;
  height: 1rem;
  margin: 1rem auto;
  width: 80%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  .sync-bar {
    background-color: $primary;
    height: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    -webkit-transition: width 1s;
    transition: width 1s;
  }
}
