body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  text-align: center; }
  @media (min-width: 750px) {
    body {
      font-size: 2rem; } }

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  padding: 1rem;
  margin-bottom: 2rem; }

.nav-item {
  cursor: pointer;
  color: #FFFFFF;
  text-decoration: none; }

.selected {
  text-decoration: underline; }

.red {
  color: #D0021B; }
